<div *ngIf="canView">
    <div class="container row">
        <div class="col-md-12">
            <h1>Upload Image</h1>
        </div>
    </div>
    <div class="container row">
        <div class="col-md-6">
            <input type="file" (change)="onFileChanged($event)">
        </div>
        <div class="col-md-6">
            <input type="button" (click)="onUpload()" value="upload">
        </div>
    </div>
    <div class="container row">
        <div class="col-md-12">
            <div *ngIf=message>{{message}}</div>
        </div>
    </div>
    <mat-checkbox (change)="checkCheckBoxvalue($event)">Check the box if you want ot upload more picturs of your amenity!</mat-checkbox>
    <div *ngFor="let p of retrieveResonse"><img [src]="p.picByte"></div>
</div>
<app-denied *ngIf="!canView"></app-denied>
