<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->

    <!-- Name Column -->
    <ng-container matColumnDef="name" style="margin: 10px;">
      <th mat-header-cell *matHeaderCellDef> name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="geographicappartment">
      <th mat-header-cell *matHeaderCellDef> area </th>
      <td mat-cell *matCellDef="let element"> {{element.geographicappartment}} </td>
    </ng-container>
    <ng-container matColumnDef="region">
      <th mat-header-cell *matHeaderCellDef> region </th>
      <td mat-cell *matCellDef="let element"> {{element.region}} </td>
    </ng-container>
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> city </th>
      <td mat-cell *matCellDef="let element"> {{element.city}} </td>
    </ng-container>
    <ng-container matColumnDef="municipality">
      <th mat-header-cell *matHeaderCellDef> municipality </th>
      <td mat-cell *matCellDef="let element"> {{element.municipality}} </td>
    </ng-container>
    <ng-container matColumnDef="parking">
      <th mat-header-cell *matHeaderCellDef> parking </th>
      <td mat-cell *matCellDef="let element"> {{element.parking}} </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>
    <ng-container matColumnDef="minprice">
      <th mat-header-cell *matHeaderCellDef> minprice </th>
      <td mat-cell *matCellDef="let element"> {{element.minprice}} </td>
    </ng-container>
    <ng-container matColumnDef="roomnumber">
      <th mat-header-cell *matHeaderCellDef> roomnumber </th>
      <td mat-cell *matCellDef="let element"> {{element.roomnumber}} </td>
    </ng-container>
    <ng-container matColumnDef="bathroomnumber">
      <th mat-header-cell *matHeaderCellDef> bathroomnumber </th>
      <td mat-cell *matCellDef="let element"> {{element.bathroomnumber}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickity(row.id)"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<amenity-table [dataSource]="amenities"></amenity-table>
