button{
    margin: 13px 12px 12px 10px;
  }

.center {
  margin: auto;
  width: 20%;
  border: 10px solid Blue;
  padding: 10px;
  color:blue;
}
.example-viewport {
  height: 200px;
  width: 600px;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}