/* @import "~bootstrap/dist/css/bootstrap.min.css"; */
header {
    background-color: rgb(44, 135, 158);
    /* padding: 30px; */
    /* text-align: center; */
    font-size: 35px;
    color: white;
  }
  table {
    width: 100%;
  }
  #RegisterButton{
    align-self: right!important
  }
  #logo{
    margin-left: auto;
  }

  .control-label.required:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 5px;
    /* top:7px; */
  }
  .form-group.hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
  }
  .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }

table th {
    font-size:large ;
    color: rgb(0, 151, 221);
  }

  table tr {
    cursor: pointer
  }
  