<div *ngIf="canView">
    <div class="card text-white bg-danger mb-3" style="max-width: 40rem;">
        <div class="card-header">UPDATING YOUR CREDENTIALS WILL LOG YOU OUT OF YOUR ACCOUNT!</div>
      </div>
    <form class="p-3" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    
    
        <div class="form-row">
            <div class="form-group col-md-8">
                <label class="control-label required" for="userEmail">Email</label>
                <input class="form-control" id="userEmail" formControlName="userEmail">
                <div
                    *ngIf="signupForm.controls.userEmail.errors?.email && (signupForm.controls.userEmail.dirty || signupForm.controls.userEmail.touched)">
                    <div class="text-danger">Not an email</div>
                </div>
                <div *ngIf="emailExists()">
                    <div class="text-danger">That email is taken. Please choose another email</div>
                </div>
    
    
            </div>
        </div>
    
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="control-label required" for="userName">Username</label>
                <input class="form-control" id="userName" formControlName="userName" (change)="userNameExists()">
    
                <div *ngIf="userNameExists()">
                    <div class="text-danger">That username is taken. Please choose another username</div>
                </div>
    
            </div>
    
        </div>
    
    
        <div class="form-row">
            <div class="form-group col-md-4">
                <label class="control-label required" for="passWord">Password</label>
                <input type="password" class="form-control" id="passWord" formControlName="passWord" (change)="passwordsDontMatch()">
    
            </div>
    
    
            <div class="form-group col-md-4">
                <label class="control-label required" for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" formControlName="passWordConf"
                    (change)="passwordsDontMatch()">
                <div *ngIf="getPwm() ">
                    <div class="text-danger">The two passwords don't match.</div>
                </div>
    
            </div>
        </div>
    
        <div class="form-row">
            <div class="form-group col-md-4">
                <label class="control-label required" for="name">Name</label>
                <input type="text" class="form-control" id="name" formControlName="firstName">
    
            </div>
            <div class="form-group col-md-4">
                <label class="control-label required" for="surname">Surname</label>
                <input type="text" class="form-control" id="surname" formControlName="lastName">
    
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label class="control-label required" for="phone">Phone</label>
                <input type="number" class="form-control" id="phone" formControlName="phoneNumber">
    
            </div>
    
        </div>
    
        
    
    
        <!-- form end -->
        <button type="submit" class="btn btn-primary" [disabled]="emailExists()||userNameExists()||this.pwm||this.notchanged">Update</button>
    
    </form>

</div>

<app-denied *ngIf="!canView"></app-denied>
