<app-denied *ngIf="!canView"></app-denied>
<app-denied *ngIf="!myItem"></app-denied>
<div *ngIf="canView && myItem">
    <div>
        <div *ngFor="let p of retrieveResonse"><img [src]="p.picByte" height="200" width="200"></div>

    </div>
    <p>MY AMENITY</p>

    <p> geographicappartment : {{ myItem?.geographicappartment }} </p>
    <p> region : {{ myItem?.region }} </p>
    <p> city : {{ myItem?.city }} </p>
    <p> municipality : {{ myItem?.municipality }} </p>
    <p> road : {{ myItem?.road }} </p>
    <p> number : {{ myItem?.number }} </p>
    <p> zipcode : {{ myItem?.zipcode }} </p>
    <p> description : {{ myItem?.description }} </p>
    <p> pets : {{ myItem?.pets }} </p>
    <p> smoking : {{ myItem?.smoking }} </p>
    <p> gatherings : {{ myItem?.gatherings }} </p>
    <p> livingroom : {{ myItem?.livingroom }} </p>
    <p> wifi : {{ myItem?.wifi }} </p>
    <p> ac : {{ myItem?.ac }} </p>
    <p> heater : {{ myItem?.heater }} </p>
    <p> kitchen : {{ myItem?.kitchen }} </p>
    <p> parking : {{ myItem?.parking }} </p>
    <p> tv : {{ myItem?.tv }} </p>
    <p> elevator : {{ myItem?.elevator }} </p>
    <p> type : {{ myItem?.type }} </p>
    <p> minprice : {{ myItem?.minprice }} </p>
    <p> roomnumber : {{ myItem?.roomnumber }} </p>
    <p> bathroomnumber : {{ myItem?.bathroomnumber }} </p>
    <p> fromdate : {{ myItem?.fromdate }} </p>
    <p> todate : {{ myItem?.todate }} </p>
    <button type="submit" class="btn btn-primary" (click)="clickity()">Book it!</button>

    <app-map [myLat]="myItem.lat" [myLon]="myItem.lon"></app-map>

    <form class="p-3" [formGroup]="rrf" (ngSubmit)="onSubmit()">

        <div class="form-row">
            <div class="form-group col-md-4">
                <label class="control-label required" for="Description">Review here</label>
                <textarea class="form-control" formControlName="reviewText" rows="5"></textarea>

            </div>
            <div class="form-group col-md-3">
                <label for="points">Rating (between 0 and 5):</label>
                <input type="range" id="points" name="points" min="0" max="5" formControlName="reviewNum">

            </div>

        </div>
        <button type="submit" value="Send" class="btn btn-primary">Review!</button>

    </form>
    <!-- <p *ngFor="let r of reviews">{{r.rating}}{{r.reviewtext}}</p> -->
    <div *ngFor="let r of reviews">
        <div class="card bg-light mb-3" style="max-width: 30rem;">
            <div class="card-header">
                <h1>{{r.user.username}} wrote</h1>
            </div>
            <div class="card-body">

                <h5 class="card-title">Name:</h5>
                <p class="card-text">{{r.user.firstName}} {{r.user.lastName}}</p>
                <h5 class="card-title">Review:</h5>
                <p class="card-text">{{r.reviewtext}}</p>
                <h5 class="card-title">Stars:</h5>
                <p class="card-text">{{r.rating}}/5</p>

            </div>
        </div>
        <!-- add the reviews too -->
        <!-- try to addd a form -->
    </div>